


img.productimage {
  width: 100px;
  height: 100px;
  background-size: cover;
}

.mulsel {
  width: 200px;
}

.multiselect-dropdown .dropdown-btn {
  height: 35px;
}

.list-group-item {
  border: 0;
}
